<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Sun Devil Stocks</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>Sun Devil Stocks</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
                <li><a href="{{ url_for('products') }}">Products</a></li>
                {% if 'loggedin' in session %}
                  <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  <li class="user-name">Hello, {{ session['username'] }}</li>
                {% else %}
                  <li><a href="{{ url_for('login') }}" class='active'>Login</a></li>
                  <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
              </ul>
        </nav>
    </header>
    <main>
        <section class="login-section">
            <h2>Login</h2>
           <!-- Admin Login -->
                <div class="login-option">
                    <h3>Admin Login</h3>
                    <form action="{{ url_for('login') }}" method="post">
                        <label for="admin-username">Username:</label>
                        <input type="text" id="admin-username" name="username" required>
                        <label for="admin-password">Password:</label>
                        <input type="password" id="admin-password" name="password" required>
                        <button type="submit">Login as Admin</button>
                    </form>
                </div>

            <!-- User Login -->
            <div class="login-option">
                <h3>User Login</h3>
                <form action="{{ url_for('login') }}" method="post"> <!-- Corrected the action -->
                    <label for="user-email">Email:</label>
                    <input type="email" id="user-email" name="email" required> <!-- Corrected the name attribute -->
                    <label for="user-password">Password:</label>
                    <input type="password" id="user-password" name="password" required>
                    <button type="submit">Login as User</button>
                </form>
                <a href="{{ url_for('register') }}">Don't have an account? Register here</a>
            </div>

        </section>
    </main>
</body>
</html>
