<!DOCTYPE html>
<html>
    <head>
        <title>Sun Devil Stocks</title>
        <meta name="description" content="Welcome to SunDevilStocks.com, your number one source for stock market updates and news.">
        <meta name="keywords" content="Stocks, Market, Finance, Investment, Sun Devil">
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    </head>
    <body>
        <header>
            <h1>Sun Devil Stocks</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
                    <li><a href="{{ url_for('trade') }}">Trade</a></li>
                    <li><a href="{{ url_for('products') }}"class='active'>Products</a></li>

                </ul>
            </nav>
        </header>
    </body>
</html>