<!DOCTYPE html>
<html>
    <head>
        <title>Sun Devil Stocks</title>
        <meta name="description" content="Welcome to SunDevilStocks.com, your number one source for stock market updates and news.">
        <meta name="keywords" content="Stocks, Market, Finance, Investment, Sun Devil">
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    </head>
    <body>
        <header>
            <h1>Sun Devil Stocks</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}" class='active'>Home</a></li>
                    <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
                    <li><a href="{{ url_for('trade') }}">Trade</a></li>
                    <li><a href="{{ url_for('products') }}">Products</a></li>
                    {% if 'loggedin' in session %}
                      <li><a href="{{ url_for('logout') }}">Logout</a></li>
                      <li class="user-name">Hello, {{ session['username'] }}</li>
                    {% else %}
                      <li><a href="{{ url_for('login') }}">Login</a></li>
                      <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                  </ul>
            </nav>
        </header>
    </body>
</html>
