<html>
    <head>
        <title>Register - Sun Devil Stocks</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    </head>
    <body>
        <header>
            <h1>Sun Devil Stocks</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}" >Home</a></li>
                    <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
                    <li><a href="{{ url_for('products') }}">Products</a></li>
                    {% if 'loggedin' in session %}
                      <li><a href="{{ url_for('logout') }}">Logout</a></li>
                      <li class="user-name">Hello, {{ session['username'] }}</li>
                    {% else %}
                      <li><a href="{{ url_for('login') }}">Login</a></li>
                      <li><a href="{{ url_for('register') }}" class='active'>Register</a></li>
                    {% endif %}
                  </ul>
            </nav>
        </header>
        <section class="register">
            <h2>Register</h2>
            <form method="post" action="{{ url_for('register') }}" class="form-container">
                <label for="FullName">Full Name:</label>
                <input type="text" id="FullName" name="FullName" required>
                
                <label for="Email">Email:</label>
                <input type="email" id="Email" name="Email" required>
                
                <label for="CustPass">Password:</label>
                <input type="password" id="CustPass" name="CustPass" required>
                
                <label for="confirmCustPass">Confirm Password:</label>
                <input type="password" id="confirmCustPass" name="confirmCustPass" required>
                
                <button type="submit" class="btn-small">Register</button>
            </form>
                     
            
        </section>
        <footer>
            <h2>Have more Questions? Give Us a Call!</h2>
            <a href="tel:123-456-7899">
                <button class="btn-small">
                    Call Today!
                </button>
            </a>
        </footer>
    </body>
</html>
