<!DOCTYPE html>
<html>
    <head>
        <title>Sun Devil Stocks</title>
        <meta name="description" content="Welcome to SunDevilStocks.com, your number one source for stock market updates and news.">
        <meta name="keywords" content="Stocks, Market, Finance, Investment, Sun Devil">
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    </head>
    <body>
        <header>
            <h1>Sun Devil Stocks</h1>
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="Trade.html" class='active'>Trade</a></li>
                    <li><a href="Products.html">Products</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>